In [2]:
# pandas is commonly imported as `pd`
import pandas as pd

# Dataframes

The most important feature pandas gives us access to is the `DataFrame`.  Dataframes are two-dimensional stucutres that you can think of very much like a spreadsheet with named columns and rows.  In fact, it supports reading in CSV and Excel files.

First, let's read a CSV containing population information of the States of the USA.

In [4]:
# Create a DataFrame, `df`, from the csv located in `data/population.csv`
df = pd.read_csv('data/population.csv')

To see what our data looks like, we can use `df.head(n)` to see the first `n` rows, with n=5 the default:

In [77]:
df.head()

,Id,Id2,Geography,2010,2011,2012,2013,2014,2015,pop_change
0,0400000US01,1,Alabama,4785161,4801108,4816089,4830533,4846411,4858979,12568
1,0400000US02,2,Alaska,714021,722720,731228,737442,737046,738432,1386
2,0400000US04,4,Arizona,6408208,6468732,6553262,6630799,6728783,6828065,99282
3,0400000US05,5,Arkansas,2922394,2938538,2949499,2957957,2966835,2978204,11369
4,0400000US06,6,California,37334079,37700034,38056055,38414128,38792291,39144818,352527

We see that for each state we have two IDs and then 6 columns of years - in this case each column is the population of that state during the given year.

We can acess columns by referencing the column name just like a python dictionary:

In [78]:
df['2010'].head()

0     4785161
1      714021
2     6408208
3     2922394
4    37334079
Name: 2010, dtype: int64

We can get multiple columns at once by passing a list of column names:

In [79]:
df[['2010', '2011']].head()

       2010      2011
0   4785161   4801108
1    714021    722720
2   6408208   6468732
3   2922394   2938538
4  37334079  37700034

And then we can access groups of rows using a range of row IDs:

In [15]:
df[5:10]

,Id,Id2,Geography,2010,2011,2012,2013,2014,2015
5,0400000US08,8,Colorado,5048254,5119480,5191731,5271132,5355588,5456574
6,0400000US09,9,Connecticut,3579717,3589759,3593541,3597168,3594762,3590886
7,0400000US10,10,Delaware,899791,907916,917099,925353,935968,945934
8,0400000US11,11,District of Columbia,605126,620472,635342,649540,659836,672228
9,0400000US12,12,Florida,18849890,19105533,19352021,19594467,19905569,20271272

Accessing individual rows is different.  You can't just use `df[i]`.  Instead you need to use df.loc:

In [21]:
df.loc[20]

Id           0400000US24
Id2                   24
Geography       Maryland
2010             5788409
2011             5844171
2012             5890740
2013             5936040
2014             5975346
2015             6006401
Name: 20, dtype: object

Pandas gives us an easy way to get summary statistics of our data:

In [22]:
df.describe()

,Id2,2010,2011,2012,2013,2014,2015
count,52.000000,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01
mean,29.788462,6.020546e+06,6.065338e+06,6.110329e+06,6.154240e+06,6.200813e+06,6.247942e+06
std,16.774557,6.780109e+06,6.851091e+06,6.920737e+06,6.988942e+06,7.064993e+06,7.140930e+06
min,1.000000,5.645160e+05,5.677680e+05,5.770800e+05,5.831310e+05,5.843040e+05,5.861070e+05
25%,16.750000,1.765265e+06,1.777821e+06,1.791004e+06,1.792935e+06,1.795265e+06,1.796828e+06
50%,29.500000,4.092954e+06,4.118196e+06,4.141056e+06,4.163265e+06,4.191910e+06,4.227034e+06
75%,42.500000,6.609542e+06,6.664655e+06,6.717658e+06,6.774928e+06,6.832134e+06,6.913636e+06
max,72.000000,3.733408e+07,3.770003e+07,3.805606e+07,3.841413e+07,3.879229e+07,3.914482e+07

One thing you might notice is that describe only lists the numeric columns, but `Id2` is included in that even though it would be better to treat it as a string.  pandas tries to guess the datatype of each column and in this case, all of the values in `Id2` are integers, so it gets treated as an integer.

We can see the datatype details:

In [9]:
df.dtypes

Id           object
Id2           int64
Geography    object
2010          int64
2011          int64
2012          int64
2013          int64
2014          int64
2015          int64
dtype: object

We can cast `Id2` to a string using `astype` and then override the original column:

In [25]:
df['Id2'] = df['Id2'].astype(str)

df.dtypes

Id           object
Id2          object
Geography    object
2010          int64
2011          int64
2012          int64
2013          int64
2014          int64
2015          int64
dtype: object

Or we could have specified the data type when we originally read the CSV:

In [43]:
# Pass a dictionary to the dtype parameter with `'column': dtype`
df = pd.read_csv('data/population.csv', dtype={'Id2': str})

df.dtypes

Id           object
Id2          object
Geography    object
2010          int64
2011          int64
2012          int64
2013          int64
2014          int64
2015          int64
dtype: object

# Operations and Filtering

Each column of data behaves very much like a normal numpy array and thus can be used for mathematical operations.  For example, to get the population change from 2014 to 2015 for each state:

In [44]:
df['2015'] - df['2014']

0      12568
1       1386
2      99282
3      11369
4     352527
5     100986
6      -3876
7       9966
8      12392
9     365703
10    117728
11     11346
12     20124
13    -22194
14     21800
15     14418
16      9134
17     12475
18     21734
19      -928
20     31055
21     39298
22      6270
23     32469
24     -1110
25     19845
26      9697
27     13210
28     52564
29      2612
30     19169
31      -458
32     46933
33    102415
34     16887
35     16425
36     31728
37     57775
38      8736
39      1391
40     66986
41      5165
42     52520
43    490036
44     51421
45      -725
46     54895
47    107185
48     -4623
49     11905
50      1803
51    -60706
dtype: int64

Rather than continually computing that value, we can save it to a new column in the DataFrame.  Let's make a new column called 'change':

In [45]:
df['pop_change'] = df['2015'] - df['2014']

df.head()

,Id,Id2,Geography,2010,2011,2012,2013,2014,2015,pop_change
0,0400000US01,1,Alabama,4785161,4801108,4816089,4830533,4846411,4858979,12568
1,0400000US02,2,Alaska,714021,722720,731228,737442,737046,738432,1386
2,0400000US04,4,Arizona,6408208,6468732,6553262,6630799,6728783,6828065,99282
3,0400000US05,5,Arkansas,2922394,2938538,2949499,2957957,2966835,2978204,11369
4,0400000US06,6,California,37334079,37700034,38056055,38414128,38792291,39144818,352527

Just like numpy, we can also do element-wise comparisons.  For example, to find out whether a state's population decreased over that year:

In [46]:
df['pop_change'] < 0

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24     True
25    False
26    False
27    False
28    False
29    False
30    False
31     True
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45     True
46    False
47    False
48     True
49    False
50    False
51     True
Name: pop_change, dtype: bool

The `True` values are the states with negative population change (decrease).  But that boolean array by itself isn't very useful.  We can use that array as an index to filter our DataFrame:

In [47]:
df[df['pop_change'] < 0]

,Id,Id2,Geography,2010,2011,2012,2013,2014,2015,pop_change
6,0400000US09,9,Connecticut,3579717,3589759,3593541,3597168,3594762,3590886,-3876
13,0400000US17,17,Illinois,12841249,12861882,12875167,12889580,12882189,12859995,-22194
19,0400000US23,23,Maine,1327695,1328257,1328888,1328778,1330256,1329328,-928
24,0400000US28,28,Mississippi,2970316,2977999,2985660,2990976,2993443,2992333,-1110
31,0400000US35,35,New Mexico,2064741,2078226,2084792,2086890,2085567,2085109,-458
45,0400000US50,50,Vermont,625984,626687,626398,627129,626767,626042,-725
48,0400000US54,54,West Virginia,1854225,1854948,1856283,1852985,1848751,1844128,-4623
51,0400000US72,72,Puerto Rico,3721526,3678736,3634487,3593079,3534888,3474182,-60706

Now we have a subset of the DataFrame with only the decreasing populations.

# Merging DataFrames

If you have data across multiple files, as long as there is a common column they can be joined.  To start with, let's read in a CSV which contains the number of housing units in the state for each year from 2010-2015.

In [65]:
housing = pd.read_csv('data/housing.csv', dtype={'Id2': str})

housing.head()

,Id,Id2,Geography,2010,2011,2012,2013,2014,2015
0,0400000US01,1,Alabama,2174266,2181371,2189738,2199413,2207849,2218287
1,0400000US02,2,Alaska,307059,307377,307664,308089,308578,309448
2,0400000US04,4,Arizona,2848293,2857849,2870144,2887506,2907820,2929030
3,0400000US05,5,Arkansas,1317756,1323130,1328315,1334978,1341017,1347528
4,0400000US06,6,California,13688185,13728585,13771494,13828412,13907648,13987625

Since the Id column is shared, it can easily be merged with our original DataFrame:

In [66]:
merged = df.merge(housing, on='Id')

merged.head()

,Id,Id2_x,Geography_x,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,pop_change,Id2_y,Geography_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y
0,0400000US01,1,Alabama,4785161,4801108,4816089,4830533,4846411,4858979,12568,1,Alabama,2174266,2181371,2189738,2199413,2207849,2218287
1,0400000US02,2,Alaska,714021,722720,731228,737442,737046,738432,1386,2,Alaska,307059,307377,307664,308089,308578,309448
2,0400000US04,4,Arizona,6408208,6468732,6553262,6630799,6728783,6828065,99282,4,Arizona,2848293,2857849,2870144,2887506,2907820,2929030
3,0400000US05,5,Arkansas,2922394,2938538,2949499,2957957,2966835,2978204,11369,5,Arkansas,1317756,1323130,1328315,1334978,1341017,1347528
4,0400000US06,6,California,37334079,37700034,38056055,38414128,38792291,39144818,352527,6,California,13688185,13728585,13771494,13828412,13907648,13987625

Since the column names are all shared, pandas appends '_x' and '_y' to columns from the left and right dataframes, respectively.

This isn't very user-friendly, so we can use the parameter `suffixes` to specify custom labels to append.  Furthermore, we can also specify `Id2` and `Geography` in `on` so we don't duplicate those columns.

In [67]:
merged = df.merge(housing, on=['Id', 'Id2', 'Geography'], suffixes=('_population', '_housing'))

merged.head()

,Id,Id2,Geography,2010_population,2011_population,2012_population,2013_population,2014_population,2015_population,pop_change,2010_housing,2011_housing,2012_housing,2013_housing,2014_housing,2015_housing
0,0400000US01,1,Alabama,4785161,4801108,4816089,4830533,4846411,4858979,12568,2174266,2181371,2189738,2199413,2207849,2218287
1,0400000US02,2,Alaska,714021,722720,731228,737442,737046,738432,1386,307059,307377,307664,308089,308578,309448
2,0400000US04,4,Arizona,6408208,6468732,6553262,6630799,6728783,6828065,99282,2848293,2857849,2870144,2887506,2907820,2929030
3,0400000US05,5,Arkansas,2922394,2938538,2949499,2957957,2966835,2978204,11369,1317756,1323130,1328315,1334978,1341017,1347528
4,0400000US06,6,California,37334079,37700034,38056055,38414128,38792291,39144818,352527,13688185,13728585,13771494,13828412,13907648,13987625

We can also notice that when we did the merge, we lost one row.  That is because the housing dataset didn't contain data for Puerto Rico.

In [62]:
print('Population:', len(df), 'Merged:', len(merged))

Population: 52 Merged: 51

Now we can do something involving both datasets.  For example, finding the ratio of people to houses:

In [76]:
merged['ratio'] = merged['2015_population']/merged['2015_housing']

merged['ratio'].head()

0    2.190419
1    2.386288
2    2.331169
3    2.210124
4    2.798532
Name: ratio, dtype: float64

Now let's use `sort_values` to view the states with the lowest ratio of people to houses and view just the state name and ratio columns:

In [80]:
# Sort the data by ratio
merged_sorted = merged.sort_values(by=['ratio'])

# Just get the `Geography` and `ratio` columns
merged_subset = merged_sorted[['Geography', 'ratio']]

# View the first 5
merged_subset.head()

        Geography     ratio
19          Maine  1.822463
45        Vermont  1.915122
48  West Virginia  2.082643
34   North Dakota  2.085428
26        Montana  2.090152

And now to view the top 5 use ascending=False:

In [81]:
merged.sort_values(by=['ratio'], ascending=False)[['Geography', 'ratio']].head()

     Geography     ratio
44        Utah  2.886233
4   California  2.798532
11      Hawaii  2.688684
43       Texas  2.594424
30  New Jersey  2.492766

# Grouping Rows by Value

Sometimes you'd like to aggregate groups of similar rows.  For instance, let's compare the change in housing stock between the states with decreasing population to those with increasing population.  

First let's make a column for the housing change and make a column with either True or False for whether the population is increasing.

In [90]:
merged['housing_change'] = merged['2015_housing'] - merged['2014_housing']
merged['pop_change_increasing'] = merged['pop_change'] > 0

Then use `groupby` to group our rows by whether they had an increasing or decreasing population change from 2014-2015:

In [91]:
grouped = merged.groupby('pop_change_increasing')

Then we can run aggeregate functions on our groups or `describe` to run the same summary statistics we did before:

In [93]:
grouped.describe()['housing_change']

pop_change_increasing
False                  count         7.000000
                       mean       3615.571429
                       std        3433.576069
                       min         886.000000
                       25%        1344.000000
                       50%        2406.000000
                       75%        4546.000000
                       max       10237.000000
True                   count        44.000000
                       mean      17930.954545
                       std       27113.340721
                       min         -41.000000
                       25%        6383.000000
                       50%       10905.500000
                       75%       17219.250000
                       max      162312.000000
Name: housing_change, dtype: float64

We can see that the average housing increase for states with decreasing population is lower.  But the change in housing for all those states is still positive.

# Further Reading

* [10 Minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/index.html)